@charset "utf-8";
html {
        background: url(WorkHard_PlayHarder.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
